---
subcategory: "Subscriptions"
page_title: "CloudTrail report subscription"
description: |-
An example of using CloudTrail report subscription.
---


You could create/manage a `costradar_cloudtrail_subscription` for the CloudTrail report subscription with the following config:

{{ tffile "examples/resources/costradar_cloudtrail_subscription/resource.tf" }}