---
subcategory: "Subscriptions"
page_title: "Cost and usage report subscription"
description: |-
An example of using Cost and usage report subscription.
---


You could create/manage a `costradar_cur_subscription` for the cost and usge report subscription with the following config:

{{ tffile "examples/resources/costradar_cur_subscription/resource.tf" }}