---
subcategory: ""
page_title: "Manage Users/Clients in a CSV - Unifi Provider"
description: |-
An example of getting an integration config
---


You could get your `costradar_integration_config` with the following tf statements:

{{ tffile "examples/data-sources/costradar_integration_config/data-source.tf" }}