---
layout: ""
page_title: "Provider: Costradar"
description: |-
The Costradar provider provides resources to interact with a Costradar controller API.
---

# Costradar Provider

The Costradar provider provides resources to interact with a Costradar controller API.


## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}